<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:label="Taller1"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        <activity android:name="com.example.taller1.ui.RecommendationsActivity" />
        <activity android:name="com.example.taller1.ui.FavoritesActivity" />
        <activity android:name="com.example.taller1.ui.DestinationDetailActivity" />
        <activity android:name="com.example.taller1.ui.DestinationsListActivity" />
        <activity
            android:name="com.example.taller1.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>

